.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  width: 50%;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.div-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.input-field {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.label-field {
  margin-bottom: 5px;
}

.signup-btn {
  width: 85%;
  padding: 10px;
  margin-top: 10px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signup-btn:hover {
  background-color: #005a4f;
}

.login-text {
  margin-top: 10px;
  font-size: 14px;
}

.login-link {
  color: #00796b;
  cursor: pointer;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}
